

.conectinfo-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 12px 0;
    background-color: white;
    border-radius: var(--border-radius);
}

.conecticon-div{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: 25px 25px;
}

.color-1{
    background-color: rgba(216, 210, 255, 0.58);
    color: #3D1FFF;
}

.color-2{
    background-color: rgba(255, 247, 216, 0.64);
    color: #FFA736;
}

.color-3{
    background-color: rgba(253, 220, 232, 0.57);
    color: #FF3880;
}

.color-4{
    background-color: rgba(216, 237, 255, 0.72);
    color: #3683FF;
}

.conctinfo-text{
    font-size: 18px;
    font-weight: 500;
}
