.team-card{
    background-color: #fcfcfc;
    box-shadow: 0px 0px 32px 0px rgb(63 73 123 / 8%);
}

.team-img{
    width: 100%;
}

.conect-icon{
    border-top: 1px solid #dbdbdb;
    padding: 10px;
}

.team-conct{
    color: #838383;
    font-size: 20px;
    padding: 0px 10px;
}
